.container{
    margin-top: 30px;
}
/*.btn{*/
/*    padding: 2px;*/
/*}*/

.btn-upload{
    margin-top:2px;
}

.dataTables_wrapper .dataTables_filter {
    display: none;
    width: 100%;
    text-align: center;
}

.dataTables_wrapper .filters {
    /*transform: scale(2);*/
}

/*making the column filter box aligned with row data*/
.filters input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    margin-left: -10px;
}

/*message box styling*/
.alert {
    /*padding: 1px;*/
    border-radius: 8px;
    font-size: large;
    color: #000000;
    background-color: #add2b2;
    width: fit-content;
    border: solid 3px #4db26a;
    margin: 8px;
    padding: 10px;
}

/*buttons (icons) alignment to right*/
div.dt-buttons {
    width: 50%;
    float: right;
    text-align: right;
}

table.dataTable th, table.dataTable td {
    box-sizing: initial;
    border-block-width: inherit;
    overflow: hidden;
    height: 30px;
    text-overflow: ellipsis;
}
